*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Krona One', sans-serif;
}

img{
    width: 100%;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
}

:root{
    --darkblue: #2C3E50;
    --blusection: #1ABC9C;
    --footer: #3A546D;
}

header,
section.copyright{
    background-color: var(--darkblue);
}

footer .info{
    background-color: var(--footer);
}

section.blue{
    background-color: var(--blusection);
}

.circle-img{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.card{
    border-radius: 25px;
}

/***************************
header
***************************/

header ul{
    margin-bottom: 0;
}

header h3{
    font-size: calc(1.2rem + .1vw);
    margin-bottom: 0;
}

.hamburger{
    padding: 4px 12px;
    border: 2px solid white;
    display: none;
    margin-right: 12px;
}

.navbar-toggler{
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(1);
}

/***************************
main
***************************/
.titol__text .bar{
    height: 4px;
    border-radius: 999px;
}

.titol__text h1{
    font-size: 50px;
}

.titol__text h4{
    font-size: calc(1.2rem + .1vw);
}

i.fa-star{
    font-size: 25px;
}

.download button{
    border-radius: 10px;
    background-color: var(--blusection);
    border: 1px solid white;
    flex-shrink: 1;
    flex-grow: 0;
}

input{
    line-height: 60px;
    color: black;
    border: 0;
    border-bottom: 2px solid rgb(164, 164, 164);
}

textarea{
    border: 0;
    border-bottom: 2px solid rgb(164, 164, 164);
}

.send button{
    border-radius: 10px;
    background-color: var(--blusection);
    border: 1px solid white;
}

/***************************
footer
***************************/

footer .social i{
    width: 50px;
    border: 1px solid white;
    border-radius: 999px;
}

footer a{
    color: var(--blusection);
}

::placeholder{
    color: rgb(72, 72, 72);
}


/***************************
DEBUG
***************************/


/***************************
media query
***************************/

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { ... }

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
    header .cube ul li:not(.hamburger){
        display: none;
    }

    .hamburger{
        display: block;
    }

    .titol__text h1{
        font-size: 30px;
    }
    
    .titol__text h4{
        font-size: calc(1rem + .1vw);
    }
 }

/*X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) {

 }